@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #030412;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  width: 100dvw;
  min-height: 100dvh;
}

@layer components {
  .gradient-title {
    background: linear-gradient(
      180deg,
      #fdfdfd 43.1%,
      rgba(253, 253, 253, 0) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-border {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px; /* Border width */
    border-radius: 20px;
    background: linear-gradient(
      20deg,
      #fdfdfd 0%,
      rgba(253, 253, 253, 0) 100%
    ); /* Gradient colors */
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  .gradient-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      0deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(16, 11, 51, 0.7217480742296919) 23%,
      rgba(16, 11, 51, 0) 100%
    );
  }
  .gradient-sphere {
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    filter: blur(200px);
  }
  .sphere-1 {
    background: radial-gradient(circle, #ff28d5, #ff28d5);
    top: -100px;
    left: 300px;
    animation: wander-left 10s ease-in-out infinite;
  }
  .sphere-2 {
    background: radial-gradient(circle, #1c34ff, #1c34ff);
    top: 100px;
    right: 300px;
    animation: wander-right 12s ease-in-out infinite;
  }
  .marquee {
    width: 100dvw;
    overflow: hidden;
    position: relative;
  }
  .marquee-box {
    display: flex;
    align-items: center;
    width: 200%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    animation: marquee 60s linear infinite;
  }
  .marquee-item {
    float: left;
  }
  .marquee-item:after {
    content: "";
    position: absolute;
    top: 100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    background: linear-gradient(
      to bottom,
      rgba(229, 172, 142, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(229, 172, 142, 0)
    );
  }
  /*This activates the shine once the button has been hovered*/
  .marquee-item:hover::after,
  button:focus::after {
    animation: shine 1s forwards;
  }
}

@keyframes wander-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20vw) translateY(50vh);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes wander-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30vw) translateY(-50vh);
  }
  100% {
    transform: translateX(0);
  }
}

.headtext {
  @apply mt-2 mb-2 text-xl;
}

.subtext {
  @apply text-neutral-400 text-sm md:text-base text-pretty;
}

/* Button Components */
.btn {
  @apply relative px-1 py-4 text-sm text-center rounded-full font-extralight bg-[#030412] w-[12rem] cursor-pointer overflow-hidden;
}

/* About Section */

.c-space {
  @apply sm:px-10 px-5 lg:px-16;
}

.section-spacing {
  @apply min-h-screen mt-20 md:mt-32;
}

.text-heading {
  @apply font-bold text-3xl md:text-4xl;
}

.grid-1 {
  @apply row-span-2 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-2 {
  @apply row-span-1 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-3 {
  @apply row-span-1 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-4 {
  @apply row-span-1 md:col-span-2 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-5 {
  @apply row-span-1 md:col-span-4 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}

.grid-default-color {
  @apply p-6 bg-gradient-to-b from-[#282b4b] to-[#1f1e39] rounded-2xl;
}

.grid-special-color {
  @apply p-6 bg-gradient-to-b from-[#5c33cc] to-[#7a57db] rounded-2xl;
}
.grid-black-color {
  @apply p-6 bg-gradient-to-tl from-[#3A3A3A] via-[#242424] to-[#3A3A3A] rounded-2xl;
}

/* projects */
  .projects-gradient-sphere {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    filter: blur(150px);
  }
  .projects-sphere-1 {
    background: radial-gradient(circle, #ff28d5, #ff28d5);
    top: 300px;
    left: 50px;
  }
  .projects-sphere-2 {
    background: radial-gradient(circle, #1c34ff, #1c34ff);
    top: 400px;
    left: 150px;
  }
  /* carousel */
  .carousel-gradient-left-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      90deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(11, 6, 32, 0) 100%,
      rgba(11, 6, 32, 0) 100%
    );
  }

  .carousel-gradient-right-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      -90deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(11, 6, 32, 0) 100%,
      rgba(11, 6, 32, 0) 100%
    );
  }

